.singleproduct-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    min-height: 70vh;
  }

.singleProduct-image {
    max-width: 300px;
}

.left-column {
    width: 65%;
    position: relative;
    margin-top: 60px;
}
   
.right-column {
    margin-top: 40px;
}

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

.product-details {
    margin-bottom: 2rem;
    color: #86939E;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.brand {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}
.back-button {
    padding: 0.5rem;
    margin-top: 2rem;
}

.chatbox-container {
    height: 500px;
    max-width: 90%;
    margin: 2rem auto;
    overflow-y: scroll;
}
.text-logging {
    margin-left: 5px;
}

@media screen and (min-width: 490px) {
    .singleproduct-container{
        display: flex;
        /* height: 55vh; */
        justify-content: center;
    }
    .singleproduct-image {
        max-width: 500px;
    }
    .right-column {
        width: 35%;
        margin-top: 40px;
    }
}

@media screen and (min-width: 1100px) {
    .singleproduct-container{
        /* margin-left: 90px; */
        width: 70%;
        justify-content: center;
    }
    .singleProduct-image {
        max-width: 500px;
    }
}
